{% extends 'base.html' %}
{% load staticfiles %}
{% block style %}
  th,td {
    padding:20px;
  }
{% endblock %}
{% block content %}
  <div class="col-md-4 offset-md-4 msg">
    <p style="font-size: 25px; color:#E94209">Congratulations!</p>
    <p> You successful bought the game. </p>
    <p> The purchase ID: {{ data.pid }} </p>
    <p> Reference number: {{ data.ref }}</p>
    <button class="btn btn-lg btn-danger btn-block" onclick="window.location.href='/player/games/{{ game_name }}'" type="button">Play the game</button>
    <button class="btn btn-lg btn-secondary btn-block" onclick="window.location.href='/player/store'" type="button">Back to store</button>
  </div>
{% endblock %}
