{% extends 'base.html' %}
{% load staticfiles %}
{% block style %}
    th,td {
    padding:20px;
  }
{% endblock %}
{% block content %}
<div class="page_header"><a href="/developer">Dashboard</a> > Sales</div>
  <table style="margin:20px;">
    <thead>
      <tr>
        <th>User ID</th>
          <th>Date</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
      {% for each in sale %}
        <tr>
          <td>{{ each.game.game_name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
