{% extends 'base.html' %}
{% load tz %}
{% load staticfiles %}
{% block style %}
    th,td {
    padding:20px;
  }
{% endblock %}
{% block content %}
<div class="w3-bar w3-black">
       <button class="w3-bar-item w3-button tablink" onclick="window.location.href='/developer'">Dashboard</button>
       <button class="w3-bar-item w3-button tablink w3-red" onclick="window.location.href='/developer/games'">Statistics</button>
   </div>

        <table style="margin:20px;">
            <thead>
            <tr>
                <th>Game Name</th>
                <th>Purchase Date</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              {% for each in sale %}
                <tr>
                  <td>{{ each.game.game_name }}</td>
                                  <td>{{ each.time|localtime}}</td>
                                  <td>{{ each.game.price }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
{% endblock %}
