{% extends 'base.html' %}
{% load staticfiles %}
{% block style %}
{% endblock %}
{% block script %}
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
{% csrf_token %}
<script>


  window.addEventListener("message", receiveGameMessage);
  var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
  function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });
  function receiveGameMessage(event) {
      iFrame = document.getElementById('game');
    console.log(event.data);
    if (event.data.messageType === "SCORE") {
      $.ajax({
        url: window.location+"/submit_score",
        method: "POST",
          dataType: 'json',
        data: {'score':event.data.score},
        success: function(result) {
          console.log("Score submitted");
        }
      });
    } else if(event.data.messageType === "LOAD_REQUEST"){
        var message =  {
            messageType: "ERROR",
            info: "Game state could not be loaded"
            };
        iFrame.contentWindow.postMessage(
                    message,
                    "*"
                );
    }
  }
</script>
{% endblock %}
{% block content %}
     <div class="w3-bar w3-black">
       <button class="w3-bar-item w3-button tablink w3-red" onclick="window.location.href='/player'">My Games</button>
       <button class="w3-bar-item w3-button tablink" onclick="window.location.href='/player/store'">Store</button>
   </div>

  <div class="page_header">Game: {{ game.game_name }}</div>
  <div class="row">
    <iframe class="col-sm-12 col-md-6" id="game" height="600" src="{{ game.url }}"></iframe>
    <div class="col-2 offset-md-1"><table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for highscore in highscores %}
          <tr>
            <td>{{ highscore.user }}</td>
            <td>{{ highscore.score }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
{% endblock %}
