{% extends 'base.html' %}
{% load staticfiles %}
{% block style %}
    th,td {
    padding:20px;
  }
{% endblock %}
{% block content %}
     <div class="w3-bar w3-black">
       <button class="w3-bar-item w3-button tablink w3-red" onclick="window.location.href='/player'">My Games</button>
       <button class="w3-bar-item w3-button tablink" onclick="window.location.href='/player/store'">Store</button>
   </div>
    {% if msg != None %}
<div class="text-danger">{{ msg }}</div>
    {% endif %}
  <table style="margin:20px;">
    <thead>
      <tr>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      {% for each in purchase_history %}
        <tr>
          <td>{{ each.game.game_name }}</td>
          <td><a href="games/{{ each.game.game_name }}">Play</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
