{% extends 'base.html' %}
{% load staticfiles %}
{% block style %}
  th,td {
    padding:20px;
  }
{% endblock %}
{% block content %}
 <div class="w3-bar w3-black">
       <button class="w3-bar-item w3-button tablink " onclick="window.location.href='/player'">My Games</button>
       <button class="w3-bar-item w3-button tablink w3-red" onclick="window.location.href='/player/store'">Store</button>
   </div>

    <div>
    {{ msg }}
    </div>

  <table style="margin:20px;">
    <tbody>
      {% for category in categories %}
        <tr>
          <td><b>{{ category }}<b></td>
        </tr>
        {% for game in games %}
          {% if game.category == category %}
          <tr>
            <td>{{ game.game_name }}</td>
            <td>€{{ game.price }}</td>
            <td><a href="games/{{ game.game_name }}/buy" target="view_window">Buy</a></td>
          </tr>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
